/* import font */
@font-face {
    font-family: 'Special Elite';
    font-style: normal;
    font-weight: 400;
    src: local('Special Elite'), local('SpecialElite-Regular'), url(SpecialElite-Regular.ttf);
}

body {
    font-family: 'Special Elite', 'Courier New', monospace;
    background-image: url(img/web-background.jpg);
    background-color: #dfd0b7;
    margin: 0;
}

/* navigation bar */
#navbar {
    background-image: url('img/web-background.jpg');
    background-color: #dfd0b7;
    display: flex;
    align-items: center;
    margin-left: .5em;
}

#navbar a {
    text-align: center;
    padding: .5em;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
    line-height: 1em;
    color: black;
}

.active {
    background-color: #f3e4d6;
}

a:hover {
    background-color: #F3E4D6FF;
}

/* body */
#main {
    display: flex;
    flex-flow: column wrap;
    background-image: url(img/page-bg-noise-01.png);
    background-color: white;
    margin: 0 .5em .5em;
    padding: 0 1em;
}

.bodySections {
    flex: 1;
    padding-bottom:.5em;
}

#submit {
    max-width: 5em;
    padding: .3em;
    margin-top: .5em;
    font-family: 'Special Elite', 'Courier New', monospace;
}

#answer {
    padding-bottom: 0;
}